*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Section one */

.containerOne {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: hsl(189, 52%, 22%);
    color: white;
    gap: 5rem;
    max-width: 1440px;
    padding: 1rem 14rem 7rem;
}

.header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 12px 0;
    font-weight: lighter;
}

.logo {
    font-size: 22px;
    color: #f9faf8;
}

.headerNav {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.headerNav li:hover {
    cursor: pointer;
    color: hsl(189, 61%, 39%);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.heroLeft {
    flex: 1 1 0;
    margin: 0;
}

.heroLeft h2 {
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
    font-weight: 900;
}

.heroLeft p {
    font-size: 16px;
    color: #e5e7eb;
    font-weight: lighter;
}

.btn {
    color: #f5f7fa;
    background-color: hsl(189, 61%, 39%);
    border-radius: 7px;
    font-size: 16px;
    border: none;
    width: 100px;
    height: 30px;
}

.btn:hover {
    cursor: pointer;
    color:hsl(189, 61%, 39%);
    background-color: white;
}

.heroRight {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    background: hsl(189, 52%, 22%);
}

.heroRight img {
    flex: 1;
    object-fit: cover;
    border-radius: 7px;
    max-height: 225px;
}

/* Section two */

.containerTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 4rem;
}

h3 {
    color: hsl(189, 52%, 22%);
    font-size: 32px;
    text-align: center;
}

.infoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 42px;
}

.info {
    max-width: 175px;
    list-style: none;
    padding: 0px;
    text-align: center;
}

.infoBox {
    width: 175px;
    height: 175px;
    border: 4px solid hsl(189, 52%, 22%);
    border-radius: 7px;
}

.info li {
    color: hsla(180, 100%, 1%, 0.616);
    font-size: 14px;
}

/* Section three */

.containerThree {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background: hsl(189, 52%, 22%);
}

.quote {
    max-width: 900px;
    padding: 64px 0;
}

.quote h3 {
    color: #f9faf8;
    text-align: left;
}

.quote h4 {
    color: #f9faf8;
    text-align: end;
    font-size: 20px;
}